  <% if @produkt.errors.any? %>
    <div id="error_explanation">
      <% if  (@produkt.errors.count)==1  %>
      <h2 style="color: rgb(185, 74, 72);">Produkt nie został dodany z powodu jednego błędu</h2>
    <% elsif (@produkt.errors.count)>1 %>
	<h2 style="color: rgb(185, 74, 72);">Produkt nie został dodany z powodu <%= @produkt.errors.count %> błędów</h2>
    <% end %>

      <ul>
      <% @produkt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="nowy_produkt_tytul">
    <%= f.label :tytuł_produktu %>:<br />
    <%= f.text_field :tytul %>
  </div>
  <div class="nowy_produkt_cena">
    <%= f.label :cena %>:<br />
    <%= f.text_field :cena %>
  </div>
<br />
<br />
  <div class="nowy_produkt_rozmiary">
    Dostępne rozmiary:<%= check_box_tag 'rozmiarxs', '1' %> XS <%= check_box_tag 'rozmiars', '1' %> S <%= check_box_tag 'rozmiarm', '1' %> M <%= check_box_tag 'rozmiarl', '1' %> L <%= check_box_tag 'rozmiarxl', '1' %> XL <%= check_box_tag 'rozmiarxxl', '1' %> XXL
 </div>
<br />
  <div class="nowy_produkt_opis">
    <%= f.label :opis %>:<br />
    <%= f.text_area :opis %>
  </div>
<br />
  <div class="nowy_produkt_obrazek">
    <%= f.label :obrazek_url_produktu %>:<br />
    <%= f.text_field :obrazek_url %>
  </div>
<br />
