<%= form_for(@koszyk) do |f| %>
  <% if @koszyk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@koszyk.errors.count, "error") %> prohibited this koszyk from being saved:</h2>

      <ul>
      <% @koszyk.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :wlasciciel %><br />
    <%= f.text_field :wlasciciel %>
  </div>
  <div class="field">
    <%= f.label :produkt_id %><br />
    <%= f.number_field :produkt_id %>
  </div>
  <div class="field">
    <%= f.label :ilosc %><br />
    <%= f.number_field :ilosc %>
  </div>
  <div class="field">
    <%= f.label :cena %><br />
    <%= f.text_field :cena %>
  </div>
  <div class="field">
    <%= f.label :wartosc %><br />
    <%= f.text_field :wartosc %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
