<% suma = 0 %>
<h1 style="border-bottom: 2px solid rgb(229, 229, 229);">Twój Koszyk</h1>

<table style="width:100%;">
  <tr>

    <th class="koszyk_tabela_gora" id="tytul">Przedmioty użytkownika <span id="uzytkownik"><%= current_user.username %>:</span></th>
    <th class="koszyk_tabela_gora" id="wycentrowane">Ilość</th>
    <th class="koszyk_tabela_gora" id="wycentrowane">Cena za sztukę</th>
    <th class="koszyk_tabela_gora" id="wycentrowane">Wartość</th>
    <th class="koszyk_tabela_gora"></th>
  </tr>

<% @koszyks.each do |koszyk| %>
  <tr>
    <td><%= link_to koszyk.produkt_tytul, "/produkts/"+koszyk.produkt_id.to_s %></td>
    <td id="wycentrowane"><%= koszyk.ilosc %> szt.</td>
    <td id="wycentrowane"><%= number_with_precision(koszyk.cena, :precision => 2) %> zł</td>
    <td id="wycentrowane"><%= number_with_precision(koszyk.wartosc, :precision => 2) %> zł</td> 
    <% suma += koszyk.wartosc %> 
    <td><%= link_to 'Usuń', koszyk, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<div>
<div class="koszyk_suma"><span id="uzytkownik">Suma:</span> <%= number_with_precision(suma, :precision => 2) %> zł</div>
<div>
<br />
<%= button_to 'Wyczyść koszyk', "/wyczysc_koszyk" %>
<br /><br /><br />
<div>
<%= button_tag "Powrót",:type => 'button',:class => 'button',:onclick => "location.href = '#{produkts_url}'" %> <%= submit_tag "Przejdź do kasy", :class => "button", :id => "przejdz_do_kasy" %>
</div>
