<% title "Edycja Konta" %>
<h1><%= yield(:title) %></h1>
<% if current_user %>
<% if current_user.username == @user.username %>
<%= simple_form_for @user, :html => { :multipart => true } do |f| %>
<%= render partial: 'form', locals: { f: f } %>
<%= f.button :submit, :value => 'Aktualizuj Konto' %><%= button_tag "Powrót",:type => 'button',:class => 'button',:onclick => "location.href = '#{produkts_url}'" %>
<% end %>
<% else %>
<center><%= image_tag("dostep_zabroniony.gif") %></center><br/>
<% end %>
<% else %>
<center><%= image_tag("dostep_zabroniony.gif") %></center><br/>
<% end %>
