<% title "Rejestracja" %>
<h1 style="border-bottom: 2px solid rgb(229, 229, 229);"><%= yield(:title) %></h1>
<%= simple_form_for @user, :html => { :multipart => true } do |f| %>
<%= render partial: 'form', locals: { f: f } %>

 <%= f.button :submit, :value => 'Stwórz Konto' %><%= button_tag "Powrót",:type => 'button',:class => 'button',:onclick => "location.href = '#{produkts_url}'" %>
<% end %>


