<p>
  <b>Id:</b>
  <%=h @user.id %>
</p>
<p>
  <b>Username:</b>
  <%=h @user.username %>
</p>

<p>
  <b>Imię i Nazwisko:</b>
  <%=h @user.imie %> <%=h @user.nazwisko %>
</p>

<p>
  <b>Hasło:</b>
  <%=h @user.crypted_password %>
</p>
<p>
  <b>Data Urodzenia:</b>
  <%=h @user.data_urodzenia_dzien %>.<%=h @user.data_urodzenia_miesiac %>.<%=h @user.data_urodzenia_rok %>
</p>
<p>
  <b>Token:</b>
<%=h @user.persistence_token %>
</p>
<p>
  <b>Liczba logowań:</b>
  <%=h @user.login_count %>
</p>

<p>
  <b>Last request at:</b>
  <%=h @user.last_request_at %>
</p>

<p>
  <b>Last login at:</b>
  <%=h @user.last_login_at %>
</p>

<p>
  <b>Current login at:</b>
  <%=h @user.current_login_at %>
</p>

<p>
  <b>Ostatnie logowanie z ip:</b>
  <%=h @user.last_login_ip %>
</p>

<p>
  <b>Current login ip:</b>
  <%=h @user.current_login_ip %>
</p>



